          /* Remove the navbar's default margin-bottom and rounded borders */ 
          .navbar {
            margin-bottom: 0;
            border-radius: 0;
          }
          
          /* Add a gray background color and some padding to the footer */
          footer {
            background-color: #212529;
            padding: 25 px;
          
          }
.py-3 my-4{
padding-top: 1 rem;  
margin-top: 2 rem;
margin-bottom: 0%;
}
        .banner3{
            background-image: url('imgs/back.png');
        }

        .wht{
            color: white;
        }

        .carousel.carousel-fade .carousel-item {
          display: block;
          opacity: 0;
          transition: opacity ease-out .7s;
      }
      
      .carousel.carousel-fade .carousel-item.active {
          opacity: 1 !important;
      }